<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ./partials/header.ejs %>
</head>
<style>
  .rowItem {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ddd;
    align-items: center !important;
    padding : 2rem !important;
  }
  .addBtn {
    float: right !important;
    position: absolute !important;
    right: 20px !important;
    top: 7px !important;
  }

</style>
<body>

  <div class="ui top fixed menu">
    <div class="item">
      <i class="phone volume icon big pink"></i>
    </div>
    <div>
        <button class="ui right labeled icon button right addBtn pink" onclick="document.location='/setup?callid='">
            <i class="right arrow icon"></i>
            ADD NEW 
          </button>
    
    </div>
  </div>


 

  
  <div class="ui floating message no_calls_msg" style="display:none;margin-top:5rem;">
    <p>😏 No Reminders !! Go ahead and create one...</p>
  </div>

  <table class="ui red table calls-table" style = "margin-top:5rem;">
      <thead>
        <tr>
          <th>Title</th>
          <th>Contacts</th>
          <th>Scheduled On</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <% for(var i=0; i<callsList.length; i++) { %>
            <tr>
                  <td>
                      <h3><a class="header" href="/setup?callid=<%-callsList[i].id %>"> <%-callsList[i].title %></a></h3>
                  </td>
                  <td>
                      <% for(var j=0; j<callsList[i].contacts.length; j++) { %>
                          <a class="ui image label">
                            <img src="https://image.ibb.co/cQoZq7/eric.jpg">
                            <%-callsList[i].contacts[j].name %>
                          </a>
                        <%  }; %>
                  </td>
                  <td>
                      <% if(callsList[i].on) {%>
                        <%- (new Date(callsList[i].on)).toLocaleString('en-GB', { hour12: true }) %>
                      <% } %>
                  </td>
                  <td>
                      <% if(callsList[i].completed) {%>
                        <i class="large green checkmark icon"></i>
                      <% } %>
                    
                  </td>
                  <td>
                      <a id="<%- callsList[i].id %>" onclick="play(this)" class="music popup icon item" data-content="Play Music">
                          <i class="play icon large"></i>
                          <audio data-id="<%-callsList[i].id %>" src="/recordings/<%-callsList[i].audio %>" > </audio>
                        </a>
                        <a  id="<%- callsList[i].id %>" class="music popup icon item delete_call" data-content="Play Music">
                          <i class="trash icon large"></i>
                        </a>
                  </td>
            </tr>       
  
          <% }; %>     
        
      </tbody>
    </table>

      
    </div>
  </div>
<script>
  var calls = <%- JSON.stringify(callsList) %>
  function showNoCallsMsg(){
    
    if (calls.length == 0) {
      $($.find(".no_calls_msg")).show();
      $(".calls-table").hide();
    }
  }
  showNoCallsMsg();
  function play(evt) {
    var btnValue = $(evt).attr("id");
    var audio = $($.find("audio[data-id=" + btnValue + "]"));
    audio[0].play();
  }

  $(".delete_call").click(function(evt){
    var id = $(this).attr("id"), self =this;
    $.ajax({
      url: "/index/delete_call",
        type: "POST",
        data: JSON.stringify({
          id: id
        }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        var index;
        $.each(calls, function(i, item){
          if(parseInt(id) === item.id) 
          index = i;
        });
        calls.splice(index, 1);
        $(self).parent().parent().remove();
        showNoCallsMsg();
      }
    });
  });
</script>
</body>

</html>