<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
    <title>Reminder Buddy</title>
    <% include ./partials/header.ejs %>
</head>
<style>
    .recording {
        color: red;
    }

    .record-btn {
        color: green;
    }

    .rbctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .no-recording-ctn {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
        <div class="ui top fixed menu">
                <div class="item">
                    <a href = "/index">
                        <i class="angle left icon large pink" style = "font-weight:bold;"></i>
                    </a>
                </div>
                <% var _call = JSON.parse(call); %>
                <%  if(_call.audio) { %>
                    <div class="item">
                            <div class="ui action input">
                                <input type="text" class = "call-title" value="<%= _call.title   || 'Morning Reminder' %>" maxlength="50">
                                <button class="ui pink right labeled icon button save-title">
                                    <i class="save icon"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                <% }%>
                
              </div>
    <div id="webcam"></div>
 
    <div class="ui container center" style = "margin-top:5rem;">

        <div class="rbctn">
            <% var audio = JSON.parse(call).audio%>
            <% if(audio) { %>
                <div style="margin-top: 2rem;"
                    class="player">
                    <audio controls=""><source src="/recordings/<%=audio%>" type="audio/webm"></audio>  
                </div>
                
            <% } else { %>
               <div class = "no-recording-ctn">

                    <div class="column record-column">
                            <i class="microphone icon large record-action record-btn"
                                id="recorder"
                                style="font-size : 15rem; cursor : pointer;"></i>
                        </div>
            
                        <i style="margin-top: 2rem; font-size: 2rem" class = "status-msg"> Tap The Mic To Record </i>
        
                        <div style="margin-top: 2rem;"
                            class="player">
                        </div>
               </div>

            <% }%>
            
            <% if(audio) {%>
                <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>Contact</label>
                                <input type="text"
                                    class = "contact-input"
                                    placeholder="Contact Name">
                            </div>
                            <div class="field">
                                <label>Telephone Number</label>
                                <input type="text"
                                    class = "phone-input"
                                    placeholder="Number +91">
                            </div>
                        </div>
                        <div class="add-contact-btn ui button pink"
                            tabindex="0">Add Contact</div>    
                    </div>
                    <% var isHidden = (JSON.parse(contacts).length === 0) ? "display:none;" : "" %>
                   
                    <div class="ui message no-contacts" style = "<%= isHidden ? '' : 'display:none;'%>">
                        <div class="header">
                            Opps !! No Contacts.. 😢
                        </div>
                        <p>Add Contacts and Schedule it. We will call them with your voice recorded .</p>
                        <i>Also, you can test call them just by clicking the telephone icon next to the contact</i>
                    </div>
                    
                    
                    <table class="ui celled table contact-table" style = "<%= isHidden %>">
                        <thead>
                            <tr><th>Name</th>
                            <th>Contact Number</th>
                            <th>Action</th>
                        </tr></thead>
                        <tbody>
                            <% var contactList = JSON.parse(contacts) %>
                            <% for(let i = 0;  i < contactList.length; i++) {%>
                            <tr class = "crow">
                                <td class = "cName">
                                    <%= contactList[i].name%>
                                </td>
                                <td class = "tNumber"><%= contactList[i].telephone%></td>
                                <td>
                                    <i class ="trash delete-contact icon alternate outline large" style = "margin-right:1rem;"></i>
                                    <i class="phone volume icon large testcall"></i>
                                </td>
                                </tr>
                        <% } %>
                        </tbody>
                    </table>
        
                    
                    <div style="width : 100%;<%= isHidden %>" class = "schedule-area">
                            <h3>Schedule On : 
                                <a class="ui green label schedule-msg"></a>
                                </i></h3>
                            <div class="ui calendar" id="example14">
                            </div>
                    </div>


            <% }%>    

        </div>
    </div>
    

    <script>
        var callDetails = <%- call %>
        var contacts = <%- contacts %>
    </script>

    <script src="/javascripts/setup.js"></script>
</body>

</html>